h1{
	font-size: 75pt;
	margin: 20pt 40pt 10pt 40pt;
	font-family: helvetica;
	font-weight: lighter;
	color: #36454f; /*charcoal*/
	text-shadow: 0px 0px 30px white;
}

p{
	font-size: 20pt;
	margin: 10pt 40pt 40pt 40pt;
	font-family: helvetica;
	color: #36454f;
}

a{
	text-decoration: none;
}

body{
	background-image: url(../images/nature.jpeg);
	background-size: cover;
}

form {
    display: inline-block;
    display: table;
    font-size: 20px;
	font-family: helvetica;
	margin-top: 5%;
	display: inline-block;
	text-align: center;
}

input{
	margin: 10px;
	font-family: helvetica;
}

input[type=text], input[type=submit], select {
    font-family: helvetica;
    font-size: 20px;
	border-color: #FFF;
	padding: 15px;
	background-color: transparent;
	border-radius: 10px;
	color: white;
	background: rgba(255,255,255, .7);
}

input[type=submit] {
/*    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
*/
	background: transparent;
}

/*input[type=submit]:hover {
    background-color: #45a049;
}*/

#connect-button{
	font-family: helvetica;
	background: transparent;
	border-style: solid;
	border-radius: 15px;
	border-color: #FFF;
	display:inline-block;
	font-size: 27pt;
	padding: 10pt;
	color: #FFF;
	margin-top: 10%;
	margin-left: 60px;

}

#connect-button:hover, input[type=submit]:hover{
	background: #FFF;
	color: black;
}

#connect-form{
	margin-left: 60px;
}
